.advices-main {
    width: 100%;
    height: 700px;
    background-color: white;
    margin-top: 30%;
}

.advices-title {
    padding: 5% 1% 0% 1%;
    text-align: center;
    font-weight:900;
    font-size: 25pt;
}

.advices-title span {
    color: #FF485A;
}

.advices-card {
    width: 90%;
    height: 450px;
    margin: 5%;
    box-shadow: black 0.5em 0.5em 0.3em;
    border: solid thick #C4C4C4;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@keyframes shake{
    0%{transform: translate(0px 0px)}
    25%{transform: translate(5px, 0px)}
    50%{transform: translate(0px, 5px)}
    75%{transform: translate(-5px, 0px)}
    100%{transform: translate(0px, 0px)}
}

.advices-card img {
    width: 90%;
    border-radius: 1em;
    border: 1px solid black;
}

.advices-card h3 {
    color: #04013B;
    width: 90%;
    text-align: justify;
}

.advices-infos {
    position: absolute;
    top: 670px;
    width: 100%;
    text-align: center;
}

.advices-infos p {
    font-weight: bold;
    color: #252525;
    font-size:11pt;
    margin-top: 0;
}

.phrase-btn, .img-btn {
    margin-left:1%;
    text-align: center;  
    border-radius: 25px;
    outline: none;  
    cursor:pointer;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 90%;
    margin-bottom: 2%;
    padding:2%;
    font-size:11pt
}

.phrase-btn {
    border: 1pt solid  #ecc900;
    background-color: #f0dd76;
}

.phrase-btn:hover {
    animation:shake 0.5s infinite;
    background-color: #f3dd5e;
}

.img-btn {
    border: 1pt solid  #10c500;
    background-color: #72f766;
    margin-top: 2%;
}

.img-btn:hover {
    animation:shake 0.5s infinite;
    background-color: #a0f766;
}

/*RESPONSIVIDADE TABLET*/
@media screen and (min-width: 768px) {

    .advices-main {
        height: 750px;
        margin-top: 15%;

    }

    .advices-card {
        width: 60%;
        margin: 0% 20%;
    }
    
    .advices-card img {
        width: 70%;
        border-radius: 1em;
        border: 1px solid black;
    }

    .advices-infos {
        top: 670px;
    }

    .phrase-btn, .img-btn {
        width: 50%;
    }

    .advices-title {
        padding: 2%;
    }
}

/*RESPONSIVIDADE DESKTOP*/
@media screen and (min-width: 1366px) {
    .advices-main {
        height: 510px;
        margin-top: 7.7%;
    }

    .advices-title{
        padding: 1% 1% 0% 1%;
        font-size: 27pt;
    }

    .advices-card {
        width: 50%;
        margin: 1% 25% 5% 25%;
        height: 400px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .advices-card img {
        width: 45%;
        margin: 2%;
    }

    .advices-text {
       margin-right: 2%;
    }

    .advices-infos {
        top: 82%;
        background-color: white;
    }

    .phrase-btn, .img-btn {
        width: 30%;
        padding:0.5%;
        font-size: 12pt;
    }

    .phrase-btn {
        margin-bottom: 0.2%;
    }

    .img-btn {
        margin-top: 0.2%;
    }

    .advices-infos p {
        font-size:11pt;
    }
}













