body {
    background-color: #E6F9FF;
}

.home-logo {
    width: 85%;
    position: absolute;
    top: 25%;
    left: 8%;
    cursor: pointer;
}

.home-click {
    width: 13%;
    position: absolute;
    top: 54%;
    left: 73%;
    cursor: pointer;
}

.home-click:hover {
    animation:shake 0.5s infinite;
}

.home-main p {
    font: 700 12pt Montserrat, sans-serif;
    color: #04013B;
    position: absolute;
    top: 55%;
    left: 30%;
    cursor: pointer;
}

@keyframes shake{
    0%{transform: translate(0px 0px)}
    25%{transform: translate(5px, 0px)}
    50%{transform: translate(0px, 5px)}
    75%{transform: translate(-5px, 0px)}
    100%{transform: translate(0px, 0px)}
}

/*RESPONSIVIDADE TABLET*/
@media screen and (min-width: 768px) {
    .home-logo {
        width: 55%;
        left: 20%;
    }

    .home-main p {
        top: 64%;
        left: 38%;
    }

    .home-click {
        width: 8%;
        top: 63%;
        left: 60%;
    }
}

/*RESPONSIVIDADE DESKTOP*/
@media screen and (min-width: 1366px) {
    .home-logo {
        top: 15%;
        width: 40%;
        left: 32%;
    }

    .home-main p {
        top: 65%;
        left: 45%;
        font-size: 16pt;
        position: fixed;
    }

    .home-click {
        width: 6%;
        top: 64%;
        left: 60%;
        position: fixed;
    }
}


