.form {
    margin-top: 30%;
    background-color: white;
}

#search-box, #order, #option {
    background-color: #b5d6e7;
}

#search-box {
    margin: 5% 0 2% 1%;
    width: 98%;
}

.button-or-input {
    margin-left:1%;
    margin-top:1%;
    padding:2%;
    font-size:10pt;
    text-align: center;  
    border-radius: 25px;
    border: 1pt solid;
    outline: none;  
    cursor:pointer;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 30%;
    margin-bottom: 5%;
}

#order-button{
    background-color: #FFBBC0;
    width: 20%;
}

#advice-button{
    background-color: #C4C4C4;
    width: 47%;
}

#option {
    width: 25%;
}

.search-icon {
    width: 75%;
    background-color: #FF485A;
}

#headlines-button{
    width: 50%;
    background-color: #FF485A;
    margin-left: 1%;
}

.news-card {
    width: 90%;
    height: 550px;
    perspective: 1000px; 
    margin: 0 0 20% 5%;
}

.flip-card-news {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-color: #E6F9FF;
    border-radius: 30px;
}

.news-card:hover .flip-card-news {
    transform: rotateY(180deg);
  }

.flip-card-news-front, .flip-card-news-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-news-front {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.flip-card-news-front img {
    width: 90%;
}

.flip-card-news-front h2 {
    font-size: 15pt;
    margin:8%;
}

.flip-card-news-back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flip-card-news-back p{
    font-size: 11pt;
    margin: 8%;
    text-align: justify;
    word-wrap: break-word
}

span {
    font-weight: bold;
}

.description-news{
    text-align: justify;
    margin: 0 5% 0 5%;
}


/*RESPONSIVIDADE TABLET*/
@media screen and (min-width: 768px) {
    .form {
        margin-top: 15%;
    }

    #search-box {
        margin: 2% 0 2% 10%;
        width: 80%;
    }

    .button-or-input {
        padding:1.5%;
        margin-bottom: 2%;
        width: 20%;
    }

    #order-button{
        width: 12%;
        margin-left: 2%;
    }

    #advice-button{
        width: 12%;
        margin-left: 17%;
    }

    #option {
        width: 15%;
        margin: 0 0 2% 2%;
    }

    #order {
        margin: 0 0 2% 10%;
    }
}

/*RESPONSIVIDADE DESKTOP*/
@media screen and (min-width: 1440px) {
    .form {
        margin-top: 14%;
    }

    #search-box {
        margin: 2% 0 1% 5%;
        width: 90%;
    }

    .button-or-input {
        padding:0.8%;
        font-size: 11pt;
    }

    #order-button{
        width: 10%;
    }

    #advice-button{
        width: 10%;
        margin-left: 25%;
    }

    #option {
        width: 10%;
        margin: 0 0 2% 2%;
    }

    #order {
        width: 14%;
        margin: 0 0 2% 5%;
    }

    .search-icon {
        width: 100%;
    }

}