.form {
    margin-top: 30%;
    background-color: white;
}

#search-box {
    margin: 7% 0 2% 1%;
    width: 98%;
    background-color: #b5d6e7;
    border: 1pt solid #1d8ec7;
}

#search-box:hover {
    background-color: #69bde7;
}

.button-or-input {
    margin-left:1%;
    margin-top:2%;
    padding:2%;
    font-size:10pt;
    text-align: center;  
    border-radius: 25px;
    outline: none;  
    cursor:pointer;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 30%;
    margin-bottom: 10%;
}


#advice-button{
    background-color: #C4C4C4;
    width: 47%;
    border: 1pt solid #525151;
}

#advice-button:hover {
    background-color: #858585;
}

#headlines-button{
    width: 50%;
    background-color: #FF485A;
    margin-left: 1%;
    border: 1pt solid #940211;
}

#headlines-button:hover {
    background-color: #fc1d33;
}

#headlines-button:hover, #advice-button:hover {
    animation:shake 0.5s infinite;
}

@keyframes shake{
    0%{transform: translate(0px 0px)}
    25%{transform: translate(5px, 0px)}
    50%{transform: translate(0px, 5px)}
    75%{transform: translate(-5px, 0px)}
    100%{transform: translate(0px, 0px)}
}

.news-card {
    width: 90%;
    height: 700px;
    perspective: 1000px; 
    margin: 0 0 10% 5%;
}

.flip-card-news {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-color: #d2f1fa;
    border-radius: 30px;
    border: 1pt solid #b5d6e7;
}

.news-card:hover .flip-card-news {
    transform: rotateY(180deg);
  }

.flip-card-news-front, .flip-card-news-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-news-front {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.flip-card-news-front img {
    width: 90%;
    border: 1px solid black;
}

.flip-card-news-front h2 {
    font-size: 15pt;
    margin:8%;
}

.flip-card-news-back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flip-card-news-back p{
    font-size: 11pt;
    margin: 8%;
    text-align: justify;
    word-wrap: break-word
}

span {
    font-weight: bold;
}

.description-news{
    text-align: justify;
    margin: 0 5% 0 5%;
}

u {
    text-decoration: underline;
}


/*RESPONSIVIDADE TABLET*/
@media screen and (min-width: 768px) {
    .form {
        margin-top: 15%;
    }

    #search-box {
        margin: 4% 0 2% 10%;
        width: 80%;
    }

    .button-or-input {
        padding:1.5%;
        margin-bottom: 5%;
        width: 20%;
    }

    #advice-button{
        width: 38%;
        margin-left: 4%;
    }

    #headlines-button{
        width: 38%;
        margin-left: 10%;
    }

    .news-card {
        width: 43%;
        display: inline-block;
        margin: 0 0 5% 5%;
    }

}

/*RESPONSIVIDADE DESKTOP*/
@media screen and (min-width: 1366px) {
    .form {
        margin-top: 7.7%;   
    }

    #search-box {
        margin: 2% 0 1% 5%;
        width: 50%;
    }

    .button-or-input {
        padding:0.8%;
        font-size: 11pt;
        margin-bottom: 2%;
    }

    #headlines-button{
        width: 20%;
        margin-left: 2%;
    }

    #advice-button{
        width: 15%;
        margin-left: 2%;
    }

    .news-card {
        width: 27%;
        display: inline-block;
        margin: 0 0 5% 5%;

    }

    .flip-card-news-front h2 {
        font-size: 15pt;
        margin: -6% 0 -12% 0;
        padding: 3%;
    }

    .flip-card-news-back p, .description-news{
        font-size: 13pt;
    }

    .flip-card-news-front p {
        margin-top: -15%;
    }
}