footer {
    background-color: #E6F9FF;
    bottom: 0;
    position: fixed;  
    width: 100%;
    height: 25px;
    text-align: center;
}

footer p {
    margin-top: 1%;
    font-size: 10pt;
}

/*RESPONSIVIDADE TABLET*/
@media screen and (min-width: 768px) {
    footer p {
        margin-top: 0.5%;
    }
}

/*RESPONSIVIDADE DESKTOP*/
@media screen and (min-width: 1440px) {
    footer p {
        margin-top: 0.3%;
    }
}