.banner-logo {
    width: 40%;
    position: absolute;
    left: 30%;
    top: 0%;
}

.banner-main p {
    font: 700 7pt Montserrat, sans-serif;
    color: #04013B;
    position: absolute;
    top: 14.5%;
    left: 38%;
}

.banner-arrow {
    width: 10%;
    position: absolute;
    top: 6%;
    left: 80%;
    border: solid #FF485A;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.banner-menu {
    width: 10%;
    position: absolute;
    top: 6%;
    left: 12%;
    border: solid #FF485A;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.banner-arrow:hover, .banner-menu:hover {
    animation:shake 0.5s infinite;
}

@keyframes shake{
    0%{transform: translate(0px 0px)}
    25%{transform: translate(5px, 0px)}
    50%{transform: translate(0px, 5px)}
    75%{transform: translate(-5px, 0px)}
    100%{transform: translate(0px, 0px)}
}

/*RESPONSIVIDADE TABLET*/
@media screen and (min-width: 768px) {
    .banner-logo {
        width: 20%;
        left: 40%;
    }

    .banner-main p {
        top: 14.5%;
        left: 44%;
    }

    .banner-menu {
        width: 6%;
        top: 6%;
    }
}

/*RESPONSIVIDADE DESKTOP*/
@media screen and (min-width: 1440px) {
    .banner-logo {
        top: -0.5%;
        width: 15%;
        left: 42%;
    }

    .banner-main p {
        top: 12.5%;
        left: 45%;
        font-size: 10pt;
    }

    .banner-menu {
        width: 4%;
        top: 5%;
    }

}
